<div class="alert alert-error">
  <button class="close" data-dismiss="alert" type="button"><i class="icon-remove"></i></button>
  <strong>Hmmm</strong>
  Doesn't look like there were any tracks at the url.  Try another one?
</div>