<div id="player-controls">
  <div id="next-btn" class="player-control">
    <span>
      &#x25BA;&#x25BA;
    </span>
  </div>
  <div id="play-btn" class="player-control">
    <span id="play-icon">
      &#x25B6;
    </span>
    <span id="pause-icon">
      &#x2016; 
    </span>
  </div>
  <div id="back-btn" class="player-control">
    <span>
      &#x25C4;&#x25C4;
    </span>
  </div>
  <div class="clear"></div>
</div>
<div id="current-track-viewer" class="well span5">
</div>
